<a href="https://colab.research.google.com/github/carlosLTorresULEAM/numpy-pandasIA/blob/main/Lunes10_06_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
myNumber = 5
myNumberDecimal = 5.6
state= True

In [ ]:
print(f'valor entero {myNumber}')
print(f'valor decimal {myNumberDecimal}')
print(f'valor booleano {state}')

valor entero 5
valor decimal 5.6
valor booleano True

In [ ]:
aux1=10
aux2=20
print("La suma de las variables aux1 + aux2 =",aux1+aux2)

La suma de las variables aux1 + aux2 = 30

In [ ]:
aux1=10
aux2=20
print("La suma de las variables aux1 - aux2 =",aux1-aux2)

La suma de las variables aux1 - aux2 = -10

In [ ]:
aux1=10
aux2=20
print("La suma de las variables aux1 * aux2 =",aux1*aux2)

La suma de las variables aux1 * aux2 = 200

In [ ]:
aux1=10
aux2=20
print("La suma de las variables aux1 / aux2 =",aux1/aux2)

La suma de las variables aux1 / aux2 = 0.5

In [ ]:
tmp=aux1**aux2
print(f'La suma de las variables $10^2${tmp}')

La suma de las variables $10^2$100000000000000000000

In [ ]:
var1='Hola'
var2= '!,Cesar'
print(var1+var2)

Hola!,Cesar

In [ ]:
print(3*var1)

HolaHolaHola

In [ ]:
num1= 19
num2= 3.2
print('The type of num1: ',type(num1))
print('The type of num2: ',type(num2))

The type of num1:  <class 'int'>
The type of num2:  <class 'float'>